.relative {
  position: relative;
}

.logout-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  list-style: none;
  margin: 0;
}

.logout-submenu li {
  padding: 0;
  margin: 0;
}

.logout-submenu a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.logout-submenu a:hover {
  background-color: #f2f2f2;
}
